	 <h2><%=autor%> </h2>
	 <p>Soy de Salamanca y tengo 32 años y estoy sorprendido con las capacidades que tiene node.js</p>
	 <br>
	 <img src="/images/buho.jpg" alt="Smiley face" height="100" width="100"> 